
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: var(--app-text-color);
    padding: calc(1.5em + 0.2vmax) 0;
}

.content__text {
    width: 100%;
    height: 100%;
    /* border: calc(0.01em + 0.01vmax) solid var(--app-border-color); */
    color: var(--app-text-color);
    padding: calc(0.5em + 0.2vmax);
    white-space: pre-line;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__text::-webkit-scrollbar {
    display: none;
}

.content__message-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.message-container__text {

}

